html {
    background-color: rgb(238, 238, 238);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    overflow: hidden;

}

.main_container {
    width: 75vw;
    aspect-ratio: 2 / 1;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(255, 255, 255, 0);

    transition-duration: 0.5s;

}

.elements_container {
    display: grid;
    background-color: rgb(255, 255, 255);
    background-image: url(images/bg_main.png);
    background-size: cover;
    outline: 0.4vw black solid;
    width: 100%;
    height: 100%;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    row-gap: 0;
    column-gap: 0;

    transition: 1s ease-in-out;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.667) 0.5vw 0.5vw 1vw;


}

.elements_container_hidden {
    opacity: 50%;
    scale: 80%;
    
}


.closer {
    width: 4vw;
    height: 4vw;
    z-index: 60;
    position: absolute;
    top: 0.2vw;
    right: 2.2vw;

    background-color: rgb(228, 228, 228);
    border-radius: 100%;
    outline: solid rgb(188, 188, 188) 0.5vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 3vw;
    line-height: 4vw;
    font-weight: bolder;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.331);

    opacity: 0;
    transition: 0.5s ease-out;
    pointer-events: none;
    box-shadow: inset rgba(0, 0, 0, 0.096) 0.5vw 0.5vw 0.5vw;


}

.closer_active {
    opacity: 100%;
    transition: 0.5s 1s ease-out;
    pointer-events: all;


}

.closer:hover {
    transition-delay: 0s;
    scale: 125%;
    background-color: rgb(212, 212, 212);
}

.element_box {
    display: flex;
    background-color: none;
    outline: rgb(255, 0, 0) 1px solid;

    justify-content: center;
    align-items: center;


}

.button_a {
    width: 60%;
    height: 60%;
    background-color: rgb(203, 141, 65);
    display: block;
    border-radius: 100%;
    outline: rgb(228, 228, 228) solid 0.3vw;
    z-index: 5;
    transition: 0.2s 0s ease-out;
    box-shadow: inset rgba(0, 0, 0, 0.192) 0.5vw 0.5vw 0.5vw, rgb(0, 0, 0) 0vw 0vw 2vw;
    border: rgba(0, 0, 0, 0.247) 0.3vw solid;

}

.button_b {
    width: 75%;
    height: 75%;
    background-color: rgb(105, 212, 84);
    border-radius: 100%;
    outline: rgb(228, 228, 228) solid 0.3vw;
    z-index: 5;
    transition: 0.2s 0s ease-out;
    box-shadow: inset rgba(0, 0, 0, 0.192) 0.5vw 0.5vw 0.5vw, rgb(0, 0, 0) 0vw 0vw 2vw;

}

.button_c {
    width: 75%;
    height: 75%;
    background-color: rgb(236, 86, 86);
    display: block;
    border-radius: 100%;
    outline: rgb(228, 228, 228) solid 0.3vw;
    z-index: 5;
    transition: 0.2s 0s ease-out;
    box-shadow: inset rgba(0, 0, 0, 0.192) 0.5vw 0.5vw 0.5vw, rgb(0, 0, 0) 0vw 0vw 2vw;

}

.button_a:hover {
    scale: 115%;
    background-color: rgb(255, 187, 103);
}

.button_b:hover {
    scale: 115%;
    background-color: rgb(255, 187, 103);
}

.button_c:hover {
    scale: 115%;
    background-color: rgb(255, 187, 103);
}

.button_a_text {
    position: absolute;
    z-index: 6;

    text-align: center;
    font-size: 1.8vw;
    color: white;
    pointer-events: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: center;
    justify-self: center;
}

.button_b_icon {
    position: absolute;
    z-index: 6;

    text-align: center;
    font-size: 1.4vw;
    color: white;
    pointer-events: none;
    font-family: sans-serif;
    background-image: url(images/icon1.png);
    background-size: contain;
    width: 3.2vw;
    height: 3.2vw;

}

.button_c_icon {
    position: absolute;
    z-index: 6;

    text-align: center;
    font-size: 2.5vw;
    color: white;
    pointer-events: none;
    font-family: sans-serif;
    background-image: url(images/icon2.png);
    background-size: contain;
    width: 3.2vw;
    height: 3.2vw;

}

.slider {
    width: 90%;
    height: 90%;
    position: absolute;
    background-image: none;
    background-size: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 1s ease-in;

    transform: translateX(-175%);
    scale: 50%;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.667) 0.5vw 0.5vw 1vw;
    z-index: 15;


}

.slider_active {
    transition: 1s ease-out;
    transform: translateX(0%);
    scale: 100%;
    opacity: 1;

}

@keyframes updownloop {
    0% {transform: translateY(-1vw);}
    50% {transform: translateY(1vw);}
    100% {transform: translateY(-1vw);}
}

.start_msg {
    position: absolute;
    margin: auto;
    z-index: 15;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: white;
    width: 40%;
    height: 40%;
    border-radius: 0.7vw;
    box-shadow: 0vw 0vw 0.7vw black;
    transition: ease-in 1s;
    animation: start_box_appear 2s;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;


}

@keyframes start_box_appear {
    0% {scale: 0;}
    40% {scale: 0;}
    100% {scale: 1;}


}


.start_msg_text {
    color: black;
    font-size: 1.7vw;
    text-align: center;

}

#start_msg_closer {
    opacity: 1;
    right: -3%;
    top: -6%;
    pointer-events: none;
    animation: block_click 0s 2.5s forwards;

}

@keyframes block_click {
    100% {pointer-events: all;}

}

.bg_cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14;
    transition-duration: 1s;

}

.hide_this {
    opacity: 0 !important;
    pointer-events: none !important;
    transition-duration: 1s;

}

.start_box_hide {
    scale: 0%;
    opacity: 0;
}



.moveup1 {
    width: 16vw;
    height: 16vw;
    background-color: rgba(255, 0, 0, 0);
    z-index: 2;
    display: block;
    position: absolute;
    margin: auto;
    transform: translateX(-1vw);
    animation: move_bg1 3s alternate-reverse infinite;

}

@keyframes move_bg1 {
    0% {top: 24vw;}
    100% {top: 16vw;}

}

.upbg1a {
    width: 4.4vw;
    height: 4.4vw;
    background-color: rgb(213, 213, 213);
    z-index: 2;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    transform: rotate(45deg);
    scale: 100% 50%;
    outline: black 0.4vw solid;
    z-index: 5;

}

.upbg1b {
    width: 6.5vw;
    height: 120vw;
    top: 2.4vw;
    background-color: white;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    outline: black 0.25vw solid;
    z-index: 3;


}

.upbg1c {
    width: 0.3vw;
    height: 120vw;
    top: 3.8vw;
    background-color: rgb(0, 0, 0);
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4;

}

.upbg1d {
    width: 6.6vw;
    height: 120vw;
    top: 2.2vw;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 3;


}


.moveup1box {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 100%;
    -webkit-mask-image: url('images/mask1.png');
    -webkit-mask-position: center;
    -webkit-mask-size: 100% 100%;

}


.textbox {
    position: absolute;
    margin: auto;
    z-index: 4;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    border-radius: 0.7vw;
    box-shadow: 0vw 0vw 0.7vw black;
    transition: ease-in 1s;
    animation: textbox_disappear 2s forwards;
    opacity: 0;
    padding: 1vw;
    font-size: 1vw;

}

.textbox_appear {
    opacity: 1;
    animation: textbox_appear 1s forwards;


}

@keyframes textbox_appear {
    0% {scale: 0; opacity: 0;}
    70% {opacity: 1;}
    100% {scale: 1; opacity: 1;}


}

@keyframes textbox_disappear {
    0% {scale: 1; opacity: 1;}
    50% {opacity: 0;}
    100% {scale: 0; opacity: 0;}


}

#textbox1 {
    left: 44%;

}

.item_moveup {
    position: absolute;
    z-index: 10;

    height: 15vw;
    width: 20vw;
    background-color: none;
    background-size: contain;
    overflow: visible;
    top: 15vw;

    -webkit-mask-image: url('images/mask1.png');
    -webkit-mask-position: center;
    -webkit-mask-size: 100% 100%;


}

#item_moveup1 {
    position: absolute;
    height: 12vw;
    width: 16vw;
    top: 12vw;
    transition-duration: 2s;
    margin: auto;
    left: 0;
    right: 0;


}

.item_up {
    top: 0vw !important;

}



@media screen and (max-aspect-ratio: 12 / 16) {

    html {
        background-color: black;
    }

    .main_container {
        height: 100vw;
        width: auto;
        transform: translateY(50vw);
        rotate: 90deg;

    }

    .elements_container {
            box-shadow: 7vw 0vw 10vw rgb(0, 0, 0) inset, -7vw 0vw 10vw rgb(0, 0, 0) inset, 0vw 7vw 10vw rgb(0, 0, 0) inset, 0vw -7vw 10vw rgb(0, 0, 0) inset;
            
        }

}

